@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Monserrat";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #69707a;
}

header {
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

section {
  position: relative;
}

h5 {
  font-size: 1.1rem;
}

.header-title {
  font-size: 2.5rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-teal {
  color: #fff;
  background-color: #00ba94;
  border-color: #00ba94;
}

.btn-link {
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline;
}

.bg-gradient-primary-to-secondary {
  background-color: #0061f2 !important;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}

.svg-border-rounded svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
}

.icon-stack {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-stack-xl {
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
}

.py-10 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.pt-10 {
  padding-top: 6rem !important;
}

.my-10 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.pricing {
  font-size: 0.9rem;
  border: none;
}

.pricing-price {
  font-size: 3rem;
  color: #363d47;
  margin-bottom: 1rem;
}

.pricing-price-period {
  font-size: 1.25rem;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.header-text {
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

.bg-teal {
  background-color: #00ba94 !important;
}

.bg-transparent-light {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.footer-brand {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.icon-list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  color: #a7aeb8;
  text-decoration: none;
}
.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-light {
  color: #a7aeb8;
}

.icon-list-social-link {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.text-uppercase-expanded {
  font-weight: bold;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.text-xs {
  font-size: 12px;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.card.lift {
  text-decoration: none;
  color: inherit;
}

.lift {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  -webkit-transition: -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.lift:hover {
  -webkit-transform: translateY(-0.3333333333rem);
          transform: translateY(-0.3333333333rem);
  -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
          box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.testimonial-brand {
  fill: #a7aeb8;
}
.testimonial-brand svg {
  height: 3rem;
  color: #a7aeb8;
  margin-bottom: 1.35rem;
}

.testimonial-quote {
  font-size: 1.4rem;
  font-weight: 300;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-position {
  font-weight: lighter;
}

@media (min-width: 576px) {
  .svg-border-rounded svg {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .svg-border-rounded svg {
    height: 2rem;
  }
}
@media (min-width: 992px) {
  .svg-border-rounded svg {
    height: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .svg-border-rounded svg {
    height: 3rem;
  }
}